
:root {
  --bg: #f2f4f7;
  --card: #ffffff;
  --text: #111827;
  --shadow: rgba(0,0,0,0.12);
}
body.dark {
  --bg: #1f2937;
  --card: #374151;
  --text: #f9fafb;
  --shadow: rgba(255,255,255,0.1);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--card);
     padding: 7px 20px;
     box-shadow: 0px 4px 11px var(--shadow);
     margin-bottom: 5px ;

}
header h2{
   font-size: 1.6rem;
   margin-top: 13px;
   color: var(--text);
}
.control{
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 15px;
    padding: 22px 10px;
    border-bottom: 1px solid rgb(201, 187, 187);
    position: sticky;
    top: 0;
    z-index: 100;
    background: color-mix(in srgb, var(--bg), transparent 90%) ;
    backdrop-filter: blur(8px);
    
    
}
.control *{
    width: 580px;
    max-width: 100%;
    padding: 11px 10px;
    box-shadow: 0px 4px 11px var(--shadow);
    border: none;
    border-radius: 8px;
}

.grid{
 display: grid;
 grid-template-columns: repeat( auto-fill , minmax(260px , 1fr));
padding: 20px;
max-width: 1200px;
margin: auto;
gap: 24px;

}
.countryGrid{
 background: var(--card);  
 border-radius: 20px;
 overflow: hidden;
 box-shadow: 0 4px 11px var(--shadow);
transition: transform 0.2s ease;
}
.countryGrid:hover{
    transform: scale(1.03);
}
.countryGrid img{
    width: 100%;
    height: 150px;
}
.details {
    padding: 10px 15px;
    color: var(--text);

}
.details p{
    margin:5px 0px;
}
.details h3{
    margin: 12px 0px;
}
header button{
background: var(--text);
color: var(--card);
padding: 8px;
border-radius: 12px;
cursor: pointer;
}   
.result{
    grid-column: 1 / -1;
    text-align: center;
    opacity: 0.75;
    color: var(--text);
}

